extends layout 

block content 
    h1= title 

    form(method='POST' action='')
        div.form-group
            label(for='name') Name: 
            input#name.form-control(type='text', placeholder='Name of position' name='name' value=(undefined===position ? '' : position.name))
        button.btn.btn-primary(type='submit') Submit

    if errors 
        ul 
            for error in errors 
                li!= error.msg